{{ $repo := .Get "repo" }}
{{ $user := .Get "user" }}
{{ $url := printf "https://api.github.com/repos/%s/%s/readme" $user $repo }}

{{ $resource := resources.GetRemote $url }}
{{ if $resource }}
  {{ $content := $resource.Content | transform.Unmarshal }}
  {{ if $content.content }}
    {{ $readme := $content.content | base64Decode }}
    {{ $readme | markdownify }}
  {{ else }}
    <div class="alert alert-warning">
      <strong>Error:</strong> README content not found in API response
    </div>
  {{ end }}
{{ else }}
  <div class="alert alert-warning">
    <strong>Note:</strong> Could not fetch README from GitHub API
  </div>
{{ end }}